/* index.html */

body{
    margin: 0;
    background-color: white;
} 
.title-container{
    display: flex;
    background-color: #f5f7fa;
    border: 1px solid #88b04b;
    border-bottom: 0;
}
.title-box{
    padding-top: 15px;
    padding-bottom: 15px;
}
.buttons-container{
    padding: 22px;
    display: flex;
    background-color: #88b04b;
    justify-content: space-evenly;
}
.buttons-box{   
    flex: 1;
}

.article-container{
    display: flex;
    flex-direction: column;
}

p.article-box{
    color: #404f5e;
    text-align: justify;
    -webkit-text-stroke: 0.01em black;
    padding: 40px 40px 10px 40px;
}
div.article-box{
    text-align: center;
}

h1.title-box{
    margin: 0;
    border: 40px solid #f5f7fa;
    background-color: #f5f7fa;
    color:#88b04b;
    -webkit-text-stroke: 0.01em black;
    
}

h2.article-box{
    border: 40px solid white;
    color: #88b04b;
    margin: 0;
    border-bottom: 0px;
    -webkit-text-stroke: 0.02em black;
}

.line{
    border-top: 2px solid #88b04b;
}

.footer-container{
    display: flex;
    border: 40px solid white;
    justify-content: space-evenly;
}
.footer-box{
    color: #404f5e;
}
.box:hover{
    background-color: #88b04b;
}
.box:active{
    color: #404f5e;
}
:any-link { 
    text-decoration: none;
    color: #404f5e;
}

@media screen and (max-width: 1000px) {

    .title-container {
        justify-content: center;
        font-size: 40px;
        margin: 0px;
        padding: 0px;
    }

    h2 {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    
    .burger-nav {
        display: block;
        height: 40px;
        width: 100%;
        background: url(/menu.png) no-repeat 98% center;
        background-color: #88b04b;
        cursor: pointer;
    }

    .buttons-container {
        height: 0;
        width: 0;
    }

    div.buttons-container {
        overflow: hidden;
        background-color: rgb(126, 155, 82);
        height: auto;
        width: auto;
        flex-direction: column;
    }

    a.buttons-box {
        padding: 10px;
        border-bottom: 1px solid #404f5e;
        display: block;
    }
}

