body{
    margin: 0;
    background-color: white;
} 
.buttons{
    margin: 0;
    border: 25px solid #88b04b;
    text-align: center;
    list-style: none;
    background-color: #88b04b;
    padding: 0;
}
h1{
    margin: 0;
    border: 40px solid #f5f7fa;
    background-color: #f5f7fa;
    color:#88b04b;
    -webkit-text-stroke: 0.01em black;
    
}
span{
    border: 10px solid #88b04b;
    border-right-color: #404f5e;
    border-width: 2px;
    padding-right: 76px;
    padding-left: 76px;

}
.text{
    color: #404f5e;
    text-align: justify;
    border: 40px solid white;
    -webkit-text-stroke: 0.01em black;
}
h2{
    border: 40px solid white;
    color: #88b04b;
    margin: 0;
    border-bottom: 0px;
    -webkit-text-stroke: 0.02em black;
}
.home-image{
    display: block;
    border-bottom: 20px;
    border-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.line{
    border-top: 2px solid #88b04b;
}
footer{
    border: 20px solid white;
    background-color: white;
    border-top-color: #88b04b;
    border-width: 2px;
}
.footer-text{
    text-align: center;
    color: #404f5e;
}
.main:hover{
    background-color: white;
}
.main:active{
    color: #404f5e;
}
