body{
    margin: 0;
    background-color: white;
} 
.container{
    display: flex;
    border: 3px solid#88b04b;
    justify-content: space-evenly;

}
.box{   
    flex: 1;
}
h1{
    margin: 0;
    border: 40px solid #f5f7fa;
    background-color: #f5f7fa;
    color:#88b04b;
    -webkit-text-stroke: 0.01em black;
    
}
.text{
    color: #404f5e;
    text-align: justify;
    border: 40px solid white;
    -webkit-text-stroke: 0.01em black;
}
h2{
    border: 40px solid white;
    color: #88b04b;
    margin: 0;
    border-bottom: 0px;
    -webkit-text-stroke: 0.02em black;
}
.home-image{
    display: block;
    border-bottom: 20px;
    border-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.line{
    border-top: 2px solid #88b04b;
}
.footer-container{
    display: flex;
    border: 40px solid white;
    justify-content: space-evenly;
}
.footer-box{
    color: #404f5e;
}
.box:hover{
    background-color: #88b04b;
}
.box:active{
    color: #404f5e;
}
